{
	"root": true,
	"extends": [
		"xo",
		"xo-typescript",
		"prettier"
	],
	"ignorePatterns": ["commitlint.config.js", "release.config.js"],
	"rules": {
		"@typescript-eslint/camelcase": [
			0
		]
	}
}
